{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}

<div class="collection-grid-container">
  <h2>{{ section.settings.title }}</h2>
  <div class="collection-grid-items-container" style="display: grid;">
    {% for collection in section.settings.collections_grid_list %}
      <a class="collection-grid-item-container" href="{{ collection.url }}">
        <div class="collection-grid-image-cropper">
          {% if collection.image %}
            <img
              width="300"
              height="200"
              src="{{ collection.image | image_url: width: 600 }}"
              alt="{{ collection.title }}"
            >
          {% endif %}
        </div>
        <h3 class="collection-grid-item-text text-body">{{ collection.title }}</h3>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collection Grid",
  "tag": "section",
  "class": "section section-collection-list",
  "disabled_on": {
    "groups": ["footer", "header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by category"
    },
    {
      "type": "collection_list",
      "id": "collections_grid_list",
      "limit": 12,
      "label": "Featured collections"
    }
  ],
  "presets": [
    {
      "name": "Collection Grid"
    }
  ]
}
{% endschema %}
