{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}

<div class="collection-grid__container">
  <h2>{{ section.settings.title }}</h2>
  <div class="collection-grid__grid">
    {% for collection in section.settings.collections_grid_list %}
      <a class="collection-grid__collection-link" href="{{ collection.url }}">
        <div class="collection-grid__image-container">
          {% assign collection_preview = collection.metafields.custom.transparent_collection_image.value %}
          {{ collection_preview | image_url: width: 300 | image_tag }}
        </div>
        <h3 class="collection-grid__collection-name">{{ collection.title }}</h3>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collection Grid",
  "tag": "section",
  "class": "section section-collection-list",
  "disabled_on": {
    "groups": ["footer", "header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by category"
    },
    {
      "type": "collection_list",
      "id": "collections_grid_list",
      "limit": 12,
      "label": "Featured collections"
    }
  ],
  "presets": [
    {
      "name": "Collection Grid"
    }
  ]
}
{% endschema %}
