{{ 'section-newsletter-banner.css' | asset_url | stylesheet_tag }}

{{ 'section-newsletter-banner.css' | asset_url | stylesheet_tag }}

<style>
  .quick_form_8_css * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    overflow-wrap: break-word;
  }
  @media only screen and (max-width: 600px) {
    .quick_form_8_css[name='SIGNUP_BODY'] {
      width: 100% !important;
      min-width: 100% !important;
      margin: 0px auto !important;
      padding: 0px !important;
    }
    .SIGNUP_FLD {
      width: 90% !important;
      margin: 10px 5% !important;
      padding: 0px !important;
    }
    .SIGNUP_FLD input {
      margin: 0 !important;
      border-radius: 25px !important;
    }
  }
</style>

<div
  style="background-color: {{ section.settings.bg_color }}; color: {{ section.settings.text_color }}"
  class="newsletter-banner-container"
>
  <div class="newsletter-banner-wrapper">
    <h2 style="color: {{ section.settings.text_color }};">{{ section.settings.title }}</h2>

    <!-- Zoho Campaigns Web-Optin Form's Header Code Starts Here -->
    {{ section.settings.form }}
    <!-- Zoho Campaigns Web-Optin Form Ends Here -->
    <p class="text-body">{{ section.settings.paragraph | escape }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Newsletter Banner",
  "class": "seciton",
  "settings": [
    {
      "type": "liquid",
      "label": "Zoho form",
      "id": "form"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "join our newsletter get 10% off your first order"
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Paragraph"
    },
    {
      "type": "text",
      "id": "text_button",
      "label": "Text button"
    },
    {
      "type": "header",
      "content": "Input field"
    },
    {
      "type": "url",
      "id": "newsletter_link",
      "label": "Newsletter signup link"
    },
    {
      "type": "text",
      "id": "placeholder_input",
      "label": "Input placeholder text"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button color"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color"
    }
  ],
  "presets": [
    {
      "name": "Newsletter Banner",
      "settings": {
        "title": "Join our newsletter get 10% off your first order",
        "paragraph": "Yes, I'd like to receive special offer emails from ProLight Tech, as well as news about products, services and my designs in progress. Read our Privacy and Cookie policy.",
        "text_button": "Sign up",
        "newsletter_link": "/",
        "placeholder_input": "john@doe.com",
        "bg_color": "#5379DB",
        "text_color": "#ffffff",
        "button_color": "#000000",
        "button_text_color": "#ffffff"
      }
    }
  ]
}
{% endschema %}
