{{ 'section-newsletter-banner.css' | asset_url | stylesheet_tag }}

<div
  style="background-color: {{ section.settings.bg_color }}; color: {{ section.settings.text_color }}"
  class="newsletter-banner-container"
>
  <div class="newsletter-banner-wrapper">
    <h2 style="color: {{ section.settings.text_color }};">{{ section.settings.title }}</h2>
    <form
      id="newsletter_form-{{ section.id }}"
      action="{{ section.settings.newsletter_link }}"
      method="post"
      role="newsletter"
      class="newsletter-banner-form"
    >
      <input
        id="newsletter_field-sectionId-{{ section.id }}"
        name="newsletter_signup"
        class="text__input"
        placeholder="{{ section.settings.placeholder_input }} "
      >
      <button class="button newsletter-button" type="submit">{{ section.settings.text_button }}</button>
    </form>
    <p class="text-body">{{ section.settings.paragraph | escape }}</p>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    event.preventDefault();
    const form = document.getElementById('newsletter_form-{{ section.id }}');
  });
</script>

{% schema %}
{
  "name": "Newsletter Banner",
  "class": "seciton",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "join our newsletter get 10% off your first order"
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Paragraph"
    },
    {
      "type": "text",
      "id": "text_button",
      "label": "Text button"
    },
    {
      "type": "header",
      "content": "Input field"
    },
    {
      "type": "url",
      "id": "newsletter_link",
      "label": "Newsletter signup link"
    },
    {
      "type": "text",
      "id": "placeholder_input",
      "label": "Input placeholder text"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button color"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color"
    }
  ],
  "presets": [
    {
      "name": "Newsletter Banner",
      "settings": {
        "title": "Join our newsletter get 10% off your first order",
        "paragraph": "Yes, I'd like to receive special offer emails from ProLight Tech, as well as news about products, services and my designs in progress. Read our Privacy and Cookie policy.",
        "text_button": "Sign up",
        "newsletter_link": "/",
        "placeholder_input": "john@doe.com",
        "bg_color": "#5379DB",
        "text_color": "#ffffff",
        "button_color": "#000000",
        "button_text_color": "#ffffff"
      }
    }
  ]
}
{% endschema %}
